<div id="nav-wrap" class="wrap-top nav-wrap">
  <div class="width">
    <ul class="clearfix">
      <li [class.active]="activeItem === 'NEWS'"        (click)='buttonOnClick("NEWS", "NEWS")'>NEWS<span>New information</span></li>
      <li [class.active]="activeItem === 'Movies'"      (click)='buttonOnClick("Movies", "Movies")'>Movies<span>Watch Movies</span></li>
      <li [class.active]="activeItem === 'Application'" (click)='buttonOnClick("Application", "Application")'>Application<span>Automated Job Finder</span></li>
      <li [class.active]="activeItem === 'Shop'"        (click)='buttonOnClick("Shop", "Shop")'>Shop<span>World Market</span></li>
      <li [class.active]="activeItem === 'Research'"    (click)='buttonOnClick("Research", "Research")'>Research<span>New developments</span></li>
      <li [class.active]="activeItem === 'About'"       (click)='buttonOnClick("About", "About")'>About<span>About us</span></li>
    </ul>
  </div>
</div>
